<h1 class="header">Typography</h1>

<article>
  <section>
    <h6>h6 - Nagłówek 6</h6>
    <h5>h5 - Nagłówek 5</h5>
    <h4>h4 - Nagłówek 4</h4>
    <h3>h3 - Nagłówek 3</h3>
    <h2>h2 - Nagłówek 2</h2>
    <h1>h1 - Nagłówek 1</h1>
  </section>

  <section>
    <div class="caption">[.caption] - Small text</div>
    <div class="bigger">[.bigger] - Bigger text</div>
    <div class="headline">[.headline] - Headline text</div>
    <div class="headline-bigger">
      [.headline-bigger] - Headline bigger text
    </div>
    <div class="headline-large">
      [.headline-large] - Headline large text
    </div>

    <p>Standard text - Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <br />
    <p class="hint">
      [.hint] - Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, neque
      sunt! Vel, laborum impedit nemo asperiores ipsum ex cum rem aliquam suscipit sint
      distinctio tempore, placeat mollitia. Ad, voluptates quis!
    </p>

    <p class="secondary-text">[.secondary-text] - Lorem ipsum dolor sit amet.</p>

    <div>[.uppercase] - <span class="uppercase">uppercase</span></div>
    <p>[.capitalize] - <span class="capitalize">lorem ipsum dolor sit amet.</span></p>
    <div class="line line-align-items">
      [.capitalize-first] -
      <p class="capitalize-first">lorem ipsum dolor sit amet.</p>
    </div>

    <p>[.light] <span class="light">Lorem ipsum dolor sit amet.</span></p>
    <p>[.normal] <span class="normal">Lorem ipsum dolor sit amet.</span></p>
    <p>[.no-bold] <span class="no-bold">Lorem ipsum dolor sit amet.</span></p>
    <p>[.bold] <span class="bold">Lorem ipsum dolor sit amet.</span></p>
    <p>[.fat] <span class="fat">Lorem ipsum dolor sit amet.</span></p>
    <p class="center">[.center] - Lorem ipsum dolor sit amet.</p>

    <blockquote>Tak wygląda cytat - blockquote</blockquote>

    <p class="primary-color">[.primary-color] - Lorem ipsum dolor sit amet.</p>
    <p class="secondary-color">[.secondary-color] - Lorem ipsum dolor sit amet.</p>
    <p class="warning-color">[.warning-color] - Lorem ipsum dolor sit amet.</p>
    <p class="danger-color">[.danger-color] - Lorem ipsum dolor sit amet.</p>
  </section>
</article>
