<div class="navigation-and-view">
  <div class="navigation">
    <div class="sidebar">
      <div class="sidebar-scroll-area">
        <a routerLink="colors" routerLinkActive="active">Colors</a>
        <a routerLink="select" routerLinkActive="active">Select</a>
        <a routerLink="modal" routerLinkActive="active">Modal</a>
        <a routerLink="icons" routerLinkActive="active">Icons</a>
        <a routerLink="forms" routerLinkActive="active">Forms</a>
        <a routerLink="menu" routerLinkActive="active">Menu</a>
        <a routerLink="spinners" routerLinkActive="active">Spinners</a>
        <a routerLink="typography" routerLinkActive="active">Typography</a>
        <a routerLink="tabs" routerLinkActive="active">Tabs</a>
        <a routerLink="table" routerLinkActive="active">Table</a>
        <a routerLink="stepper" routerLinkActive="active">Stepper</a>
        <a routerLink="schedule" routerLinkActive="active">Schedule</a>
        <a routerLink="buttons" routerLinkActive="active">Buttons</a>
        <a routerLink="custom-select" routerLinkActive="active">Custom select</a>
      </div>
    </div>
  </div>

  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
