:host {
  .navigation-and-view {
    display: flex;
    .navigation {
      width: 400px;
    }
    .view-container {
      width: 100%;
    }
  }

  table {
    width: 100%;
    tr {
      text-align: left;
    }
  }

  .sidebar-scroll-area {
    display: flex;
    flex-direction: column;
  }
  // --table-row-height: 120px;

  .cell-1 {
    --table-cell-width: 300px;
  }

  .active {
    background: var(--content);
    color: var(--content-very-light);
  }
  // --gap-column: 40px;
  // --mobile-gap-column: 50px;

  // .cell-2 {
  //   --table-cell-width: 400px;
  // }

  // .cell-3 {
  //   --table-cell-width: 100px;
  // }

  // .cell-4 {
  //   --table-cell-width: 100px;
  // }
}
