<div class="view">
  <form [formGroup]="formGroup" (submit)="submitForm()">
    <section>
      <h1 class="article-title">How to use elements</h1>
    </section>
    <section>
      <h1>Use icon</h1>
      <p>
        <code>< i class="material-icons"> face < /i ></code>
        <i class="material-icons">face</i>
      </p>
    </section>
    <section>
      <h1>Input</h1>
      <app-input label="Name" type="text" name="name1" [form]="formGroup">
      </app-input>
    </section>
    <section>
      <h1>Button</h1>
      <table>
        <tr>
          <th>Nazwa</th>
          <th>Class</th>
          <th>Przycisk</th>
        </tr>

        <tr>
          <td>
            primary
          </td>
          <td>
            <code>class="primary"</code>
          </td>
          <td>
            <button class="primary" (click)="toastSuccess()">Primary</button>
          </td>
        </tr>

        <tr>
          <td>
            secondary
          </td>
          <td>
            <code>class="secondary"</code>
          </td>
          <td>
            <button class="secondary" (click)="toastInfo()">Secondary</button>
          </td>
        </tr>

        <tr>
          <td>
            cancel
          </td>
          <td>
            <code>class="cancel"</code>
          </td>
          <td>
            <button class="cancel" (click)="toastWarning()">Cancel</button>
          </td>
        </tr>

        <tr>
          <td>
            disabled
          </td>
          <td>
            <code>class="btn" disabled</code>
          </td>
          <td>
            <button class="btn">Disabled</button>
          </td>
        </tr>
      </table>
    </section>

    <section>
      <h1>Modal</h1>
      <app-use-modal></app-use-modal>
    </section>

    <section>
      <h1>Select</h1>
      <app-use-select></app-use-select>
    </section>

    <section>
      <h1>Drop down Menu</h1>

      <button class="primary" [appMenu]="tmpMenuItem">Menu</button>

      <ng-template #tmpMenuItem>
        <a appMenuItem routerLink="playground1">Page not found</a>
        <a appMenuItem routerLink="playground" [itemDisabled]="true"
          >playground</a
        >
      </ng-template>
    </section>

    <section>
      <label>
        Description
        <textarea rows="4" cols="50" placeholder="Type your comment...">
        </textarea>
      </label>
    </section>

    <section>
      <app-checkbox name="checkbox" [form]="formGroup">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, culpa
        aspernatur! Asperiores voluptate
      </app-checkbox>

      <app-checkbox name="checkbox2" [form]="formGroup">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, culpa
        aspernatur! Asperiores voluptate
      </app-checkbox>
    </section>
    <button class="secondary">Submit</button>
  </form>
</div>

<h1>Table</h1>
<div class="table table-grow-cells">
  <div class="thead">
    <div class="cell cell-1">Thead 1</div>
    <div class="cell cell-2">Thead 2</div>
    <div class="cell cell-3">Thead 3</div>
    <div class="cell cell-4">Thead 4</div>
  </div>
  <a class="row">
    <div class="cell cell-1" data-header="Thead 1:">
      <div class="can-use-ellipsis-in-container">
        <p class="ellipsis">
          Cell with static width --table-cell-width: 300px end ellipsis
        </p>
        <p>
          Cell without ellipsis
        </p>
      </div>
    </div>

    <div class="cell cell-2" data-header="Thead 2:">
      <p>
        2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
        necessitatibus?
      </p>
    </div>
    <div class="cell cell-3" data-header="Thead 3:">
      <p>
        3 Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="cell cell-4" data-header="Thead 4:">
      <p>
        4 Lorem ipsum dolor sit.
      </p>
    </div>
  </a>

  <a class="row">
    <div class="cell cell-1" data-header="Thead 1:">
      Lorem ipsum dolor sit amet.
    </div>
    <div class="cell cell-2" data-header="Thead 2:">
      Lorem ipsum dolor sit amet consectetur.
    </div>
    <div class="cell cell-3" data-header="Thead 3:">
      Lorem ipsum dolor sit amet.
    </div>
    <div class="cell cell-4" data-header="Thead 4:">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, aliquam!
    </div>
  </a>
</div>
