:host {
  table {
    width: 100%;
    tr {
      text-align: left;
    }
  }

  // --table-row-height: 120px;

  .cell-1 {
    --table-cell-width: 300px;
  }

  // .cell-2 {
  //   --table-cell-width: 100px;
  // }

  // .cell-3 {
  //   --table-cell-width: 100px;
  // }

  // .cell-4 {
  //   --table-cell-width: 100px;
  // }
}
