<div class="view">
  <h1>Pagination</h1>

  <h3 class="header">How to use pagination</h3>
  <div class="table table-grow-cells">
    <div class="thead">
      <div class="cell cell-1">[numberOfButtons]="5"</div>
      <div class="cell cell-2">[articlesPerPage]="2"</div>
      <div class="cell cell-3">singlePagePagination="true"</div>
    </div>

    <a class="row">
      <div class="cell cell-1" data-header="numberOfButtons = 5">
        <p>
          Default => show all pages. Use non-even numbers, like ="3", ="5", ="7"
        </p>
      </div>

      <div class="cell cell-2" data-header="articlesPerPage = 2">
        <p>
          Default => show 1 articles per Page
        </p>
      </div>
      <div class="cell cell-3" data-header="singlePagePagination = true">
        <p>
          Pagination on one page
        </p>
      </div>
    </a>
  </div>

  <br />
  <br />
  <br />

  <h3 class="header">Example pagination</h3>
  <div class="view">
    <div *ngFor="let user of users">
      <p>{{ user.id }} ){{ user.name }}</p>
    </div>

    <app-pagination
      [numberOfItems]="numberOfUsers"
      [numberOfButtons]="3"
      [articlesPerPage]="2"
      (changePage)="fetchCurrentPage($event)"
    ></app-pagination>
  </div>

  <br />
  <br />
  <br />

  <button (click)="createUser()">Create User</button>
  <button (click)="updateUser()">Update User</button>
  <button (click)="deleteUser()">Delete User</button>

  <br />
  <br />
  <br />

  <h3 class="header">Searching and sorting</h3>
  <app-custom-input [formControl]="search" placeholder="Search...">
    Find person
  </app-custom-input>

  <div class="view">
    <app-spinner *ngIf="loading"></app-spinner>
    <ng-container *ngIf="!loading">
      <div class="table table-grow-cells">
        <div class="thead">
          <div class="cell cell-0">
            Index
          </div>
          <div class="cell cell-1">
            Id
            <div class="arrows">
              <i class="material-icons" (click)="sortNumUp()">
                <span class="material-icons">
                  arrow_drop_up
                </span>
              </i>
              <i class="material-icons" (click)="sortNumDown()">
                <span class="material-icons">
                  arrow_drop_down
                </span>
              </i>
            </div>
          </div>
          <div class="cell cell-2">
            Name
            <div class="arrows">
              <i class="material-icons" (click)="sortUp()">
                <span class="material-icons">
                  arrow_drop_up
                </span>
              </i>
              <i class="material-icons" (click)="sortDown()">
                <span class="material-icons">
                  arrow_drop_down
                </span>
              </i>
            </div>
          </div>
        </div>

        <ng-container *ngFor="let people of peoples; let i = index">
          <a class="row">
            <div class="cell cell-0" data-header="Index:">
              <p>
                {{ i + 1 }}
              </p>
            </div>

            <div class="cell cell-1" data-header="Id:">
              <p>
                {{ people.id }}
              </p>
            </div>

            <div class="cell cell-2" data-header="Name:">
              <p>
                {{ people.name }}
              </p>
            </div>
          </a>
        </ng-container>
      </div>
    </ng-container>
    <app-no-results *ngIf="!loading && !peoples?.length"></app-no-results>
  </div>
</div>
