:host {
  .arrows {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    span {
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    i {
      &:hover {
        color: var(--primary);
      }
    }
  }
}
