:host {
  .tabs {
    padding-bottom: 8px;
    .tab {
      display: inline-block;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      &:not(:first-of-type) {
        margin-left: 10px;
      }
      &:hover {
        border-bottom: 2px solid var(--font-color);
      }
      &.active {
        border-bottom: 2px solid var(--font-color);
      }
    }
  }
}
