// @mixin blink($color) {
@keyframes blink-secondary {
  from {
    background-color: red;
  }
  to {
    background-color: transparent;
  }
}

.blink {
  animation: blink-secondary 0.5s linear;
  & + .custom-checkbox {
    animation: blink-secondary 0.5s linear;
  }
  & + .custom-radio {
    animation: blink-secondary 0.5s linear;
  }
}

// .blink {
//   animation: blink-secondary 0.5s linear;
//   & + .custom-checkbox {
//     animation: blink-secondary 0.5s linear;
//   }
//   & + .custom-radio {
//     animation: blink-secondary 0.5s linear;
//   }
// }
