@keyframes blink-secondary {
  from {
    background-color: var(--danger);
  }
  to {
    background-color: transparent;
  }
}

.blink {
  animation: blink-secondary 0.5s linear;
  & + .custom-checkbox {
    animation: blink-secondary 0.5s linear;
  }
  & + .custom-radio {
    animation: blink-secondary 0.5s linear;
  }
}
