:root {
  --btn-font-size: var(--font-normal);
  --btn-text-color: var(--content-dark);
  --btn-background: var(--content-very-light);
  --btn-height: var(--form-element);
}

.btn {
  height: var(--btn-height);
  font-size: var(--btn-font-size);
  color: var(--btn-text-color);
  background: var(--btn-background);
  border: 1px solid var(--primary);
  outline: none;
  cursor: pointer;
  min-width: 100px;
  &[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.primary {
  @extend .btn;
  --btn-background: var(--primary);
  --btn-text-color: var(--content-very-light);
}

.secondary {
  @extend .btn;
  --btn-background: var(--secondary);
  --btn-text-color: var(--content-very-light);
  border: none;
}

.cancel {
  @extend .btn;
  --btn-text-color: var(--content-dark);
}
