:root {
  --btn-font-size: var(--font-normal);
  --btn-text-color: var(--primary);
  --btn-background: var(--content-very-light);
  --btn-height: var(--form-element);
  --btn-transition: 0.2s ease-out;
  --btn-border-color: var(--primary);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-height);
  font-size: var(--btn-font-size);
  color: var(--btn-text-color);
  background: var(--btn-background);
  border-width: 1px;
  border-color: var(--btn-border-color);
  transition: var(--btn-transition);
  padding: 0 10px;
  outline: none;
  cursor: pointer;
  min-width: 100px;
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  @extend .btn;
  --btn-background: var(--primary);
  --btn-text-color: var(--content-very-light);
}

.secondary {
  @extend .btn;
  --btn-background: var(--secondary);
  --btn-text-color: var(--content-very-light);
  border: none;
}

.cancel {
  @extend .btn;
  --btn-text-color: var(--primary);
}
