@import './blink-mixin';

:root {
  --input-border-color: var(--content);
  --input-border-color-active: var(--primary);
  --input-text: var(--content-dark);
}
.blink {
  // background: red !important;
  // input {
  @include blink(red);
  // }
}
