@import './blink-mixin';

:root {
  --input-border-color: var(--content);
  --input-border-color-active: var(--primary);
  --input-text: var(--content-dark);
  --input-background: white;
}
.blink {
  @include blink(red);
}
