@import './blink-mixin';

:root {
  --input-border-color: var(--content);
  --input-border-color-active: var(--primary);
  --input-text: var(--content-dark);
  --input-background: white;
  --input-bottom-space: 10px;
}
.blink {
  @include blink(red);
  // background: red;
}
