<button class="cancel" [disabled]="currentPage === 1" (click)="gotToFirst()">
  First page
</button>

<i class="material-icons" (click)="back()" [class.disabled]="currentPage === 1">
  keyboard_arrow_left
</i>

<span *ngIf="threeDotsLeft">...</span>
<div class="page" *ngFor="let page of pages.pagination">
  <span [class.active]="page === pages.currentPage" (click)="goToPage(page)">
    {{ page }}
  </span>
</div>
<span class="number-of-pages" *ngIf="singlePagePagination">of {{ numberOfPages }}</span>
<span *ngIf="threeDotsRight">...</span>

<i
  class="material-icons"
  (click)="next()"
  [class.disabled]="numberOfPages === currentPage"
>
  keyboard_arrow_right
</i>

<button class="cancel" [disabled]="numberOfPages === currentPage" (click)="gotToLast()">
  Last page
</button>
