<div class="view">
  <section>
    <h1>Form</h1>
    <form [formGroup]="formGroup" (ngSubmit)="reportingForm()">
      <app-input
        label="Request name"
        type="text"
        name="requestName"
        [form]="formGroup"
      >
      </app-input>
      <app-input
        label="Requestor"
        type="text"
        name="requestor"
        [form]="formGroup"
      >
      </app-input>

      <label class="radio">
        <input type="radio" name="answer1" />
        Yes
      </label>

      <label class="radio">
        <input type="radio" name="answer2" />
        Yes
      </label>

      <textarea
        rows="4"
        cols="50"
        placeholder="Type your comment..."
      ></textarea>
      <p>No spoilers please</p>

      <p>Need storyteller:</p>
      <app-checkbox name="checkbox" [form]="formGroup">
        Yes
      </app-checkbox>
    </form>
  </section>
</div>
