<div class="view">
  <section>
    <h1>Form1</h1>
    <form #form1 [formGroup]="formGroup1" (ngSubmit)="reportingForm1()">
      <app-input label="Name" type="text" name="name1" [form]="formGroup1">
      </app-input>
      <app-input label="Name" type="text" name="name2" [form]="formGroup1">
      </app-input>
      <app-checkbox name="checkbox" [form]="formGroup1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, culpa
        aspernatur! Asperiores voluptate
      </app-checkbox>
      <app-checkbox name="checkboxDisable" [form]="formGroup1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, culpa
        aspernatur! Asperiores voluptate
      </app-checkbox>

      <button class="secondary">Submit</button>
    </form>
  </section>

  <!-- <section>
    <h1>Form2</h1>
    <form #form2 [formGroup]="formGroup2" (ngSubmit)="reportingForm2()">
      <app-input label="Name" type="text" name="name11" [form]="formGroup2">
      </app-input>
      <app-input label="Name" type="text" name="name22" [form]="formGroup2">
      </app-input>
      <button class="secondary">Submit</button>
    </form>
  </section> -->
</div>
