:host {
  width: 100%;

  ::ng-deep a {
    padding: 10px;
    &:hover {
      text-decoration: initial;
      color: var(--secondary);
      background: var(--content);
    }
    &.disabled {
      color: var(--content-dark);
      // pointer-events: none;
      cursor: not-allowed;
    }
  }
  @keyframes scale-in {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .content {
    --box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    animation: scale-in 0.15s;
    box-shadow: var(--box-shadow), var(--box-shadow);
    background: var(--content-very-light);
  }
}
