<section>
  <h1>Button</h1>
  <table>
    <tr>
      <th>Nazwa</th>
      <th>Class</th>
      <th>Przycisk</th>
    </tr>

    <tr>
      <td>
        primary
      </td>
      <td>
        <code>class="primary"</code>
      </td>
      <td>
        <button class="primary" (click)="primary()">Primary</button>
      </td>
    </tr>

    <tr>
      <td>
        secondary
      </td>
      <td>
        <code>class="secondary"</code>
      </td>
      <td>
        <button class="secondary" (click)="secondary()">Secondary</button>
      </td>
    </tr>

    <tr>
      <td>
        cancel
      </td>
      <td>
        <code>class="cancel"</code>
      </td>
      <td>
        <button class="cancel" (click)="cancel()">Cancel</button>
      </td>
    </tr>

    <tr>
      <td>
        disabled
      </td>
      <td>
        <code>class="btn" disabled</code>
      </td>
      <td>
        <button class="btn" disabled>Disabled</button>
      </td>
    </tr>
  </table>
</section>
