<div class="view">
  <h1 class="my-test">Test</h1>
  <section>
    <h1>Landing page</h1>
    <ul>
      <li>Carousel / Slider with foto</li>
      <li>provide: NG_VALIDATORS,</li>
      <li>wydy Acces,</li>
      <li>app service</li>
      <li>cypress</li>
      <li>index.ts</li>
      <li>airbnb</li>
      <li>Typescript types</li>
      <li>beposredne importy .ts / scss</li>
      <li>import from app/</li>
      <li>Pagination</li>
      <li>Use promise or observable api service</li>
      <li>Firebase</li>
      <li>bilder modal</li>
      <li>toast not work</li>
      <li>seo</li>
      <li>fix scroll in timepicker (colors)</li>
      <li>ngx</li>
      <li>index.ts</li>
    </ul>
  </section>

  <p>lorem500</p>

  <button (click)="postUser()">Post user</button>
  <button (click)="putUser()">Put user</button>
  <button (click)="patchUser()">Patch User</button>

  <button (click)="getUsers()">Get Users</button>
  <button (click)="deleteUser()">Delete User</button>
</div>
