<div class="view">
  <section>
    <h1>Landing page</h1>
    <ul>
      <li>Carousel / Slider with foto</li>
      <li>provide: NG_VALIDATORS,</li>
      <li>wydy Acces,</li>
      <li>app service</li>
      <li>cypress</li>
      <li>index.ts</li>
      <li>airbnb</li>
      <li>Typescript types</li>
      <li>beposredne importy .ts / scss</li>
      <li>import from app/</li>
      <li>Pagination</li>
      <li>Use promise or observable api service</li>
      <li>Firebase</li>
      <li>bilder modal</li>
      <li>toast not work</li>
      <li>seo</li>
      <li>fix scroll in timepicker (colors)</li>
      <li>ngx</li>
      <li>index.ts</li>
    </ul>
  </section>

  <p>lorem500</p>

  <button (click)="postUser()">Post user</button>
  <button (click)="putUser()">Put user</button>
  <button (click)="patchUser()">Patch User</button>

  <button (click)="getUsers()">Get Users</button>
  <button (click)="deleteUser()">Delete User</button>

  <form [formGroup]="formGroup">
    <app-radio-grp
      name="test1"
      label="Wybierz radio"
      [items]="items1"
      formControlName="radio"
    ></app-radio-grp>

    <app-timepicker tabindex="0" formControlName="time"></app-timepicker>
    <app-custom-select
      label="Label"
      formControlName="select"
      placeholder="Wybierz wartość"
    >
      <app-custom-select-option key="1" value="Sambir"></app-custom-select-option>
      <app-custom-select-option key="2" value="Wrocław"></app-custom-select-option>
      <app-custom-select-option key="4" value="USA"></app-custom-select-option>
      <app-custom-select-option key="5" value="India"></app-custom-select-option>
      <app-custom-select-option key="6" value="Rosja"></app-custom-select-option>
    </app-custom-select>

    <app-custom-checkbox formControlName="checkbox">
      Form control name
    </app-custom-checkbox>

    <app-custom-input formControlName="name">
      Name
    </app-custom-input>
    <div class="action">
      <button class="primary" (click)="save()">save</button>
    </div>
  </form>
</div>
