<div class="view">
  <h1 class="my-test">Test</h1>
  <section>
    <h1>Landing page</h1>
    <ul>
      <li>Pagination</li>
      <li>Firebase</li>
      <li>bilder modal</li>
      <li>seo</li>
      <li>fix scroll in timepicker (colors)</li>
      <li>index.ts</li>
    </ul>
  </section>

  <p>lorem500</p>

  <button (click)="postUser()">Post user</button>
  <button (click)="putUser()">Put user</button>
  <button (click)="patchUser()">Patch User</button>

  <button (click)="getUsers()">Get Users</button>
  <button (click)="deleteUser()">Delete User</button>

  <br />
  <br />
  <br />
  <br />
  <h1>Firebase</h1>

  <button (click)="createUser()">createUser</button>
  <button (click)="getMyUsers()">getMyUsers</button>
  <button (click)="updateUser()">updateUser</button>
  <button (click)="deleteMyUser()">deleteMyUser</button>
</div>
