<div class="view">
  <button class="btn">Sort & Filter</button>
  <button class="btn" (click)="fetchRequests()">Reload</button>
  <button class="btn">Prepare table for excel export</button>

  <section *ngIf="!waiting">
    <ng-container *ngFor="let request of requests">
      <p>{{ request.requestName }}</p>
    </ng-container>
  </section>

  <app-spinner *ngIf="waiting"></app-spinner>
  <app-no-results
    *ngIf="!haveRequests && !waiting"
    imagePath="/assets/no-results.svg"
  ></app-no-results>

  <section>
    <app-pagination
      [allItems]="allRequests"
      [limit]="5"
      (paginate)="fetchRequests($event)"
    ></app-pagination>
  </section>
</div>
