<h1>Forms</h1>
<form [formGroup]="formGroup">
  <app-input label="Name" type="text" name="name" [form]="formGroup"> </app-input>

  <section>
    <label>
      Description
      <textarea rows="4" cols="50" placeholder="Type your comment..."> </textarea>
    </label>
  </section>

  <section>
    <app-checkbox name="checkbox" [form]="formGroup">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, culpa aspernatur!
      Asperiores voluptate
    </app-checkbox>
  </section>
</form>
<p>Value:</p>
<p>{{ this.formGroup.value | json }}</p>
