:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  .page-not-found-info {
    margin-top: 20px;
    text-align: center;
    button {
      margin-top: 20px;
    }
  }
  img {
    max-width: 400px;
    width: 100%;
  }
}
